.menu-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}

.menu-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 30%;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.menu-card img {
    width: 100%;
    height: auto;
}

.menu-card h3 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 1em 0;
}

.menu-card:hover {
    transform: scale(1.05);
}
